.login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.registraion {
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        color: rgba(102, 102, 102, 0.527);
        text-align: center;
    }

    a {
        cursor: pointer;
        font-size: 16px;
        color: #1b6f96;
        padding-bottom: 4px;
        border-bottom: 1px solid #1b6f96;
    }
}